.banner {
    background: url("../images/banner.png") no-repeat center;
    width: 100%;
    color: $main-color-font;
}
.chapter {
    margin: 270px 0 10px;
    text-align: center;
}
.mg-for-p {
    margin: 45px 0 40px;
}
form {
    width: 570px;
    margin: 0 auto;
}
.input-banner {
    width: 250px;
    height: 50px;
    margin-bottom: 30px;
    background: $input-color-bg;
    border: 2px solid $input-color-bg;
    border-radius: 3px;
    padding-left:20px;
    align-items: center;
    color: $main-color-font;
}
.btn-banner{
    margin-bottom:22%;
    width: 100%;
    height: 50px;
    background: $banner-color-bt;
    border-radius: 3px;
    border: none;
    color: $main-color-font;
    &:hover {
        color: $main-color-bg;
        background: $catalog-bt-orange;
        cursor: pointer;
    }
}

                    /*catalog*/

.catalog-banner{
    background-image: url("../images/Morten Harket.png");
    background-size: cover;
    background-position: center;
    h1 {
        padding: 280px 0 25px;
    }
}
.catalog-button{
    height: 50px;
    width: 200px;
    margin: 40px 35px 82px 0;
    img {
        width: 20px;
        padding: 15px;
        color: $main-color-font;
    }
    &:hover {
        background: $banner-color-bt;
        cursor: pointer;
    }
}
