.banner {
    background: url("../images/banner.png") no-repeat center;
    width: 100%;
    color: $main-color-font;
}
.chapter {
    margin: 270px 0 10px;
    text-align: center;
}
.mg-for-p {
    margin: 45px 0 40px;
}
form {
    width: 650px;
    margin: 0 auto;
}
.input-banner {
    width: 250px;
    height: 50px;
    margin: 0 15px 30px;
    background: $input-color-bg;
    border: 2px solid $input-color-bg;
    border-radius: 3px;
    padding-left:20px;
    align-items: center;
    color: $main-color-font;
}
.btn-banner{
    margin: 20px 0 200px 0;
    width: 89%;
    height: 50px;
    margin-left: 15px;
    background: $banner-color-bt;
    border-radius: 3px;
    border: none;
    color: $main-color-font;
}

                    /*catalog*/

.catalog-banner{
    background: url("../images/Morten Harket.png") no-repeat;
    h1 {
        padding: 280px 0 25px;
    }
}
.catalog-button{
    height: 50px;
    width: 200px;
    margin: 40px 0 82px;
    img {
        width: 20px;
        padding: 15px;
        color: $main-color-font;
    }
}
