footer{
    padding-top: 80px;
}
.bg-footer{
    background: $footer-color-bg;
}
.secondary-font {
    color: $secondary-color-font;
}
.line{
    display: block;
    height: 1px;
    width: 100%;
    background-color: $main-color-font;
}
a:hover{
    color: $main-color-font;
}