footer{
    padding-top: 80px;
    color: $four-color-font;
    & a{
        color: $four-color-font;
    }
}
.bg-footer{
    background: $footer-color-bg;
}
.line{
    display: block;
    height: 1px;
    width: 100%;
    background-color: $main-color-font;
}
a:hover{
    color: $main-color-font;
}