header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 50px;
    @include flex-wrap;
    @include space-around-center;
    
    .logo {
        @include flex-wrap;
        img {
            height: 20px;
            width: 20px;
        }
        p {
            padding-left: 10px;
            color: $main-color-font;
            @include text-uppercase;
        }
    }
    nav a{
        color: $secondary-color-font;
    }
}