.main-bg {
    background: $main-color-bg;
    color: $main-color-font;
}


.subscribe-1 {
    background: url(../images/subscribe_1.png) no-repeat center;
}
.subscribe-2 {
    background: url(../images/subscribe_2.png) no-repeat center;
}
.subscribe-3 {
    background: url(../images/subscribe_3.png) no-repeat center;
}
.subscribe {
    padding: 25px 0 50px;
}
.sum {
    margin: 230px 0 61px;
    align-content: flex-start;
    justify-content: center;
}
.pd-rt-11 {
    padding-right: 11px;
}
.btn-subscribe {
    border: 4px solid $main-color-font;
    color: $main-color-font;
    padding: 5% 18%;
}

                                    /*NEWS*/

.about-author {
    h2 {
        margin-bottom: 25px;
    }

    p {
        color: $secondary-color-font;
    }
}
.in-about-author{
    margin: 16px 0 51px;
    width: 50%;
    h4{
        color: $third-color-font;
    }
    p {
        color: $data-color-font;
    }
    img {
        width: 19px;
    }
}
.col {
    width: 1px;
    height: 11px;
    background: $main-color-font;
}
.btn-news {
    border: 1px solid $secondary-color-font;
    padding: 6px 30px;
    color: $secondary-color-font;
}

                        /*MOBIL*/

.mg-left-135 {
    margin-left: 135px;
}
.btn-mobil {
    background: $main-color-bt;
    color: $main-color-font;
    border-radius: 50px;
    border: none;
    height: 50px;
    width: 160px;
}

                    /*CATALOG*/

.albums {
    height: 199px;
    img {
        width: 50px;
        margin-right: 15px;
    }
}
.author {
    width: 250px;
    margin: 50px 50px 0 0;
    img {
        height: 250px;
        width: 250px;
    }
}

