@media (max-width: 1280px){
    .fz-60 {
        font-size: 55px;
    }
    .fz-38 {
        font-size: 33px;
    }
    .fz-30 {
       font-size: 28px;
    }
}
@media (max-width: 1024px){
    .wrapper{
        max-width: 950px;
    }

    .lg-fd-colum {
        flex-direction: column;

    }
    .lg-items-center{
        align-items: center;
    }
    .lg-mg-top-20 {
        margin-top: 20px;
    }
    .lg-order--1{
        order: -1;
    }
    .in-about-author {
        width: 100%;
    }
}
@media (max-width: 768px){
    .wrapper{
        width: 95%;
    }
    .md-mg-bot-40 {
        margin-bottom: 40px;
    }
    .md-mg-bot-50 {
        margin-bottom: 50px;
    }
    .header-nav {
        margin-right: 0;
    }
    .md-colum-center {
        flex-direction: column;
        align-items: center;
    }
    .md-width-45{
        width: 45%;
    }
}
@media (max-width: 425px){
    .sm-col-left{
    flex-direction: column;
    align-items: flex-start;
    }
    .sm-order--1{
        order: 1;
    }
    header{
        height: 140px;
    }
    .sm-width-80{
        width: 80%;
    }
    .sm-width-100{
        width: 100%;
    }
    .sm-colum-left {
        flex-direction: column;
        align-items: flex-start;
    }
    form {
        width:100%;
    }
    .sm-mg-bot-20 {
        margin-bottom: 20px;
    }
}
@media (max-width: 375px){
    
}
@media (max-width: 320px){
    
}