* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.colum {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.items-center {
  align-items: center;
}

.aligt-start {
  align-items: flex-start;
}

/*color*/
.grey-color {
  color: #8c8c8c;
}

.white-color {
  color: #fff;
}

.blue-bg {
  background-color: #5328A1;
}

.orange-bg {
  background-color: #95390C;
}

/*font-size*/
.fz-60 {
  font-size: 60px;
}

.fz-38 {
  font-size: 38px;
}

.fz-30 {
  font-size: 30px;
}

.fz-28 {
  font-size: 28px;
}

.fz-24 {
  font-size: 24px;
}

.fz-22 {
  font-size: 22px;
}

.fz-18 {
  font-size: 18px;
}

.fz-14 {
  font-size: 14px;
}

.fz-12 {
  font-size: 12px;
}

.fz-11 {
  font-size: 11px;
}

/*text style*/
.uppercase {
  text-transform: uppercase;
}

.font-bold {
  font-weight: bold;
}

/* padding and margin*/
.pd-top-100 {
  padding-top: 100px;
}

.pd-top-80 {
  padding-top: 80px;
}

.pd-bot-100 {
  padding-bottom: 100px;
}

.mg-top-50 {
  margin-top: 50px;
}

.mg-rt-100 {
  margin-right: 100px;
}

.mg-bot-25 {
  margin-bottom: 25px;
}

.mg-top-20 {
  margin-bottom: 20px;
}

.mg-bot-30 {
  margin-bottom: 30px;
}

.mg-rt-21 {
  margin-right: 21px;
}

.mg-rt-40 {
  margin-right: 40px;
}

.pd-top-bot-50 {
  padding: 50px 0;
}

.width-18 {
  width: 18%;
}

.width-33 {
  width: 33%;
}

.width-45 {
  width: 45%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 80px;
}

.logo-header img {
  height: 20px;
  width: 20px;
}
.logo-header p {
  padding-left: 10px;
  color: #fff;
}

.header-nav {
  margin-right: 15%;
}
.header-nav a {
  color: #8c8c8c;
  margin-right: 30px;
}

.header-search {
  border: none;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.1);
  padding: 9px 14px;
  width: 280px;
}

.banner {
  background: url("../images/banner.png") no-repeat center;
  width: 100%;
  color: #fff;
}

.chapter {
  margin: 270px 0 10px;
  text-align: center;
}

.mg-for-p {
  margin: 45px 0 40px;
}

form {
  width: 650px;
  margin: 0 auto;
}

.input-banner {
  width: 250px;
  height: 50px;
  margin: 0 15px 30px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding-left: 20px;
  align-items: center;
  color: #fff;
}

.btn-banner {
  margin: 20px 0 200px 0;
  width: 89%;
  height: 50px;
  margin-left: 15px;
  background: #33c175;
  border-radius: 3px;
  border: none;
  color: #fff;
}

/*catalog*/
.catalog-banner {
  background: url("../images/Morten Harket.png") no-repeat;
}
.catalog-banner h1 {
  padding: 280px 0 25px;
}

.catalog-button {
  height: 50px;
  width: 200px;
  margin: 40px 0 82px;
}
.catalog-button img {
  width: 20px;
  padding: 15px;
  color: #fff;
}

.main-bg {
  background: #000;
  color: #fff;
}

.subscribe-1 {
  background: url(../images/subscribe_1.png) no-repeat center;
}

.subscribe-2 {
  background: url(../images/subscribe_2.png) no-repeat center;
}

.subscribe-3 {
  background: url(../images/subscribe_3.png) no-repeat center;
}

.subscribe {
  padding: 25px 0 50px;
}

.sum {
  margin: 230px 0 61px;
  align-content: flex-start;
  justify-content: center;
}

.pd-rt-11 {
  padding-right: 11px;
}

.btn-subscribe {
  border: 4px solid #fff;
  color: #fff;
  padding: 5% 18%;
}

/*NEWS*/
.about-author h2 {
  margin-bottom: 25px;
}
.about-author p {
  color: #8c8c8c;
}

.in-about-author {
  margin: 16px 0 51px;
}
.in-about-author h4 {
  color: #884f07;
}
.in-about-author p {
  color: #555555;
}
.in-about-author img {
  width: 19px;
}

.btn-news {
  border: 1px solid #8c8c8c;
  padding: 6px 30px;
  color: #8c8c8c;
}

/*MOBIL*/
.mg-left-135 {
  margin-left: 135px;
}

.btn-mobil {
  background: #fe4158;
  color: #fff;
  border-radius: 50px;
  border: none;
  height: 50px;
  width: 160px;
}

/*CATALOG*/
.bg-footer {
  background: linear-gradient(89.02deg, #5328A1 32.83%, #95390C 81.56%);
}

.secondary-font {
  color: #8c8c8c;
}

.line {
  display: block;
  height: 1px;
  width: 100%;
  background-color: #fff;
}

@media (max-width: 1280px) {
  .fz-60 {
    font-size: 55px;
  }

  .fz-38 {
    font-size: 33px;
  }

  .fz-30 {
    font-size: 28px;
  }
}
@media (max-width: 1024px) {
  .wrapper {
    max-width: 950px;
  }

  .fz-60 {
    font-size: 50px;
  }

  .fz-38 {
    font-size: 25px;
  }

  .fz-30 {
    font-size: 18px;
  }

  .fz-28 {
    font-size: 16px;
  }

  .fz-24 {
    font-size: 22px;
  }

  .fz-22 {
    font-size: 20px;
  }

  .fz-18 {
    font-size: 16px;
  }

  .fz-14 {
    font-size: 12px;
  }

  .fz-12 {
    font-size: 11px;
  }

  .fz-11 {
    font-size: 11px;
  }

  .media-author {
    justify-content: center;
    align-items: flex-start;
    margin-right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
